<?xml version="1.0"?>
<configuration>

    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Smalify.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>


    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="errorBinding"/>
            </basicHttpBinding>
        </bindings>

        <services>
        </services>

        <behaviors>
            <serviceBehaviors>
                <behavior>
                    <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>

        <client>
            <endpoint name="errorBinding" bindingConfiguration="errorBinding" contract="Smalify.ErrorReporting.IErrorService" address="http://localhost:6060/Services/ErrorService.svc" binding="basicHttpBinding"/>
        </client>

    </system.serviceModel>

    <system.diagnostics>
        <trace autoflush="true">
            <listeners>
                <add type="System.Diagnostics.TextWriterTraceListener" name="TextWriter" initializeData="trace.log" />
            </listeners>
        </trace>
    </system.diagnostics>

    <userSettings>
        <Smalify.Properties.Settings>
            <setting name="MinifiedFileSuffix" serializeAs="String">
                <value>min</value>
            </setting>
            <setting name="Js_OutputSingleLine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>350</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="Watch_Js" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Watch_Css" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Watch_Less" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Watch_Sass" serializeAs="String">
                <value>True</value>
            </setting>
        </Smalify.Properties.Settings>
    </userSettings>

</configuration>