@using System.Web.Optimization;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @*Rendering the style bundles in html file*@
    @Styles.Render("~/Content/NITStyleBundle")
</head>
<body>
    <div>
        <h1>Naresh I Technologies</h1>

        <p>Classroom Training schedule is a custom-made training program to suit the aspirants from different educational backgrounds, the training programs are conducted by well-trained faculties in the corresponding specializations in a real-time environment. The classroom training is conducted exclusively in the campus of Naresh i Technologies with well equipped and configured architecture to give students exactly an environment of industrial exposure.</p>
        <p>Naresh i Technologies is renowned around the world for classroom training where every aspirant is encouraged to attend technical sessions discussing every facet of the subject with excruciating detail on varied technologies. Every aspirant in the training program will be provided with the hands-on experience through a number of Lab assignments and case studies there by making them more employable.</p>
        <p>Digital marketing is an umbrella for an online system. Digital marketing refers to advertising which is delivered through the digital channel. Few digital marketing is like websites, social media, emails and mobile apps. The product is being marketed through digital technology. This Digital marketing online training course will help how to use the Facebook, Twitter, LinkedIn, etc for online advertisement. In simple term, the digital marketing means the promotion of the products or brands via some electronic media.</p>
        <p>Corporate Training program is tailor-made to suit the working professionals in the industry who are expected to have a shift in their domain or technology as per their career demand. The corporate training courses are customized to meet the project requirements as expected from the corporate trainees.</p>
        <p>The Corporate Training is provided either at the client location or at our Naresh i Technologies campus depending upon the need of the client. In the global markets of competition training and development of the employees to keep up their technical expertise has become the most important composition of any I.T. Organization.</p>
        <p>The corporate employees require regular enhancements and update of the up-coming technologies in accordance with the advancements as demanded by the end clients. This requirement of the corporate sector is the key juncture where Naresh iTechnologies started sharing its expertise in reducing the training over-heads of the corporate sector.</p>
        <p>The success of Naresh i Technologies lies in customized course content depending on the project requirements of the client and the experience level of the participants thereby enhancing the productivity of the overall industry.</p>

        <h1>Excellence In IT Training</h1>

    </div>
</body>
</html>
